/**
 *   @file       styles.css
 *   @brief      $(Brief description)
 *   @details    $(More details)
 *   
 *   @copyright  http://www.gnu.org/licenses/lgpl.txt LGPL version 3
 *   @author     Erik Bachmann <ErikBachmann@ClicketyClick.dk>
 *   @since      2024-11-11T06:14:19 / ErBa
 *   @version    2024-11-11T06:14:19
 */

body {
	background-color: black;
	color: white;
}
a {
	color: cyan;
}

.display {
	float: right;
	max-width: 1200px;
	max-height: 1000px;
	position: absolute; 
	top: 50px;
	right: 0;
	
}

.flag {
	width:64px;
	height:auto;
	border: 1px solid white;
}

.flag_mini {
	width:32px;
	height:auto;
}

.map_iframe {
	width: 300px;
	height:300px;
	/*float: left;
	position: absolute; 
	bottom: 0;
	*/
}