/**
 *   @file       styles.css
 *   @brief      $(Brief description)
 *   @details    $(More details)
 *   
 *   @copyright  http://www.gnu.org/licenses/lgpl.txt LGPL version 3
 *   @author     Erik Bachmann <ErikBachmann@ClicketyClick.dk>
 *   @since      2024-11-11T06:14:19 / ErBa
 *   @version    2024-11-11T06:14:19
 */

body {
	background-color: black;
	color: white;
}
a {
	color: cyan;
}


.display {
	float: right;
	max-width: 1200px;
	max-height: 1000px;
	max-width: 70%;
	max-height: 90%;
	position: absolute; 
	top: 50px;
	right: 0;
}

.flag {
	width:64px;
	height:auto;
	border: 1px solid white;
}

.flag_mini {
	width:32px;
	height:auto;
}

.map_iframe {
	width: 300px;
	height:300px;
	/*float: left;
	position: absolute; 
	bottom: 0;
	*/
}
.headline {
	font-weight: bold;
	color: yellow;
}
.subfolder {
	background-color: #003030;
	float: left;
	border: 1px solid white;
	max-width:	100px;
	max-height:	120px;
	_width:	100px;
	padding: 2px;
	margin: 2px;
}
.subfolder_icon {
	float: left;
	border: 1px solid white;
	
	max-width:	100%;
	max-height:	80px;
}


button {
  transition-duration: 0.4s;
  border-radius: 8px;	/*Rounded corner*/
}

button:hover {
  background-color: #04AA6D; /* Green */
  color: white;
}
button:hover:disabled {
  background-color: gray;
  color: yellow;
  opacity: 0.6;
  cursor: not-allowed;	/* Not allowed sign */
}


.iptc_key {
	color: yellow;
}

.iptc_value {
	color: lightgreen;
}

.translate {
		float: right;

}